@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");

.Contatti {
  margin: 20%;
  font-family: "Gentium Book Plus", serif;
  font-size: 1.5em;
}

@media only screen and (max-width: 414px) {
  .Contatti {
    font-size: 1.2em;
  }
}
